<div style="text-align:center">
<h1>Welcome, <%= current_user.name.split.first %></h1>
<img src="https://i.ibb.co/k0Hb8Fr/63798591-1.jpg"  width=450px height=100px class="mr-2 mb-2">
<h3><a href="/logout" style="text-align:right">Logout</a></h3>
<h3><a href="/pets/new">Add Pet Profile</a></h3>
</div>

<% current_user.pets.each do |pet| %><br>
  <% pet.img %>
 
    <h2 style="text-align:center" class="bg-primary text-white pt-2 pb-2"><strong> <%= pet.name %> - <%= pet.breed %></strong></h2>

  <h3><strong>Info:</strong></h3>
  <h4>My pet eats: <%= pet.nutrition %></h4>
  <h4>My pet is fed: <%= pet.feedings %></h4>
  <h3><strong>Notes:<strong></h3>
  <h4> <%= pet.notes %></h4>
<div class="button-container">
    <h3><a href="/pets/<%= pet.id %>/edit">Edit</a></h3>
    <h3>&nbsp; | &nbsp;</h3>
    <h3><a href="/pets/<%= pet.id %>/delete">Delete</a></h3>
    <h3>&nbsp; | &nbsp;</h3>
    <h3><a href="/pets/<%= pet.id %>">View Pet Profile</a></h3>
</div>
<% end %>
